@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?tk1oc7');
	src:url('fonts/icomoon.eot?#iefixtk1oc7') format('embedded-opentype'),
		url('fonts/icomoon.ttf?tk1oc7') format('truetype'),
		url('fonts/icomoon.woff?tk1oc7') format('woff'),
		url('fonts/icomoon.svg?tk1oc7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconcat-"], [class*=" iconcat-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconcat-abbigliamento-donna:before {
	content: "\e600";
}
.iconcat-accessori-donna:before {
	content: "\e601";
}
.iconcat-borse-donne:before {
	content: "\e602";
}
.iconcat-capispalla-donna:before {
	content: "\e603";
}
.iconcat-gonna:before {
	content: "\e604";
	font-size: 0.9em;
}
.iconcat-maglia:before {
	content: "\e605";
}
.iconcat-pantaloni-donna:before {
	content: "\e606";
}
.iconcat-scarpe-donna:before {
	content: "\e607";
}
