#*include head.inc.html*#
#*include body_head.inc.html*#


<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="40">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" valign="top">
			<h1>ORDER DETAIL</h1>
			<h4><span style="font-family:'Source Sans Pro', serif;">Dear #*name*#,<br>
				below here you can find the details of your orders: </span></h4>
			<div class="hr">&nbsp;</div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="48%" align="left" valign="top" bgcolor="#ffffff">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="20" height="30" bgcolor="#00901e">&nbsp;</td>
								<td height="30" align="center" bgcolor="#00901e"><p>Shipping data</p></td>
	                            <td width="20" height="30" bgcolor="#00901e">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                                <td height="20" bgcolor="#ffffff">&nbsp;</td>
                                <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="20" bgcolor="#ffffff">&nbsp;</td>
                                <td bgcolor="#ffffff">
                                    #*name_sped*# #*surname_sped*#<br />
                                    #*address_sped*#<br />
                                    #*cap_sped*#, #*city_sped*#<br />
                                    #*nation_sped*#<br />
                                    #*e_mail*#
                                </td>
                                <td width="20" bgcolor="#ffffff">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                                <td height="20" bgcolor="#ffffff">&nbsp;</td>
                                <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                            </tr>
                        </table>
					</td>
                    <td width="2%">&nbsp;</td>
                    <td width="2%">&nbsp;</td>
                    <td width="48%" align="left" valign="top" bgcolor="#ffffff">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="20" height="30" bgcolor="#00901e">&nbsp;</td>
                                <td height="30" align="center" bgcolor="#00901e"><p>Billing information</p></td>
                                <td width="20" height="30" bgcolor="#00901e">&nbsp;</td>
                            </tr>
							<tr>
                                <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                                <td height="20" bgcolor="#ffffff">&nbsp;</td>
                                <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="20" bgcolor="#ffffff">&nbsp;</td>
                                <td bgcolor="#ffffff">
                                    #*name*# #*surname*#<br>
                                    #*address*#<br />
                                    #*cap*# #*city*#<br />
                                    #*nation*#<br />
                                    #*e_mail*#
                                </td>
                                <td width="20" bgcolor="#ffffff">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                                <td height="20" bgcolor="#ffffff">&nbsp;</td>
                                <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                            </tr>
						</table>
                    </td>
                </tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td height="20">&nbsp;</td>
					<td>&nbsp;</td>
					<td height="20">&nbsp;</td>
				</tr>
				<tr>
                    <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                    <td bgcolor="#ffffff">&nbsp;</td>
                    <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                </tr>
                <tr>
                    <td width="20" bgcolor="#ffffff">&nbsp;</td>
                    <td align="center" valign="top" bgcolor="#ffffff">
                        <strong>SHIPPING INFORMATIONS/strong>
                        <br>
	                    testo testo testo
                    </td>
                    <td width="20" bgcolor="#ffffff">&nbsp;</td>
				</tr>
                <tr>
                    <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                    <td bgcolor="#ffffff">&nbsp;</td>
                    <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                </tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20" height="20">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td width="20" height="20">&nbsp;</td>
	            </tr>
                <tr>
                    <td width="20" height="30" bgcolor="#00901e">&nbsp;</td>
                    <td align="center" bgcolor="#00901e"><p>Payment method</p></td>
	                <td width="20" height="30" bgcolor="#00901e">&nbsp;</td>
                </tr>
                <tr>
                    <td width="20" bgcolor="#ffffff">&nbsp;</td>
                    <td bgcolor="#ffffff">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20">&nbsp;</td>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid #dddddd;" width="50%" height="20">Chosen payment method:</td>
                                <td style="border-bottom: 1px solid #dddddd;" width="50%" height="20">#*payment_method*#</td>
                            </tr>
                        </table>
                    </td>
					<td width="20" bgcolor="#ffffff">&nbsp;</td>
                </tr>
                <tr>
                    <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                    <td bgcolor="#ffffff">&nbsp;</td>
                    <td width="20" height="20" bgcolor="#ffffff">&nbsp;</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td>#*table_order*#</td>
                </tr>
            </table>
		</td>
	</tr>
    <tr>
        <td height="40">&nbsp;</td>
    </tr>
</table>

#*include body_footer.inc.php*#