﻿#*include head.inc.html*#
#*include body_head.inc.html*#
<table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h1>ACCOUNT PASSWORD RECOVERY</h1>
        <h4>Dear #*name*#,<br>You received this email because you requested a new password.<br>Below you can find the new password to access to your account:</h4>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20" height="20" bgcolor="#c8df00">&nbsp;</td>
            <td bgcolor="#c8df00">&nbsp;</td>
            <td width="20" height="20" bgcolor="#c8df00">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#c8df00">&nbsp;</td>
            <td bgcolor="#c8df00">#*password*#</td>
            <td bgcolor="#c8df00">&nbsp;</td>
          </tr>
          <tr>
            <td width="20" height="20" bgcolor="#c8df00">&nbsp;</td>
            <td bgcolor="#c8df00">&nbsp;</td>
            <td width="20" height="20" bgcolor="#c8df00">&nbsp;</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
</table>
#*include body_footer.inc.html*#