#*include head.inc.html*#
#*include body_head.inc.html*#

<table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h2>COMPLETE THE REGISTRATION ON SOTTO SOTTO</h2>
        <h4>CLICK ON THE CONFIRMATION BOTTON TO COMPLETE THE REGISTRATION.</h4>
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="20" height="20" bgcolor="#c8df00">&nbsp;</td>
            <td bgcolor="#c8df00">&nbsp;</td>
            <td width="20" height="20" bgcolor="#c8df00">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#c8df00">&nbsp;</td>
            <td bgcolor="#c8df00" align="center"><a href="#*url_attivazione*#" target="_blank">CLICK HERE TO CONFIRM YOUR E-MAIL ADDRESS<br>#*email*#</a></td>
            <td bgcolor="#c8df00">&nbsp;</td>
          </tr>
          <tr>
            <td width="20" height="20" bgcolor="#c8df00">&nbsp;</td>
            <td bgcolor="#c8df00">&nbsp;</td>
            <td width="20" height="20" bgcolor="#c8df00">&nbsp;</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
</table>
#*include body_footer.inc.html*#