#*include head.inc.html*#
#*include body_head.inc.html*#


<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="40">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" valign="top">
			<h1>ORDER DETAIL</h1>
			<h4>
                <span style="font-family:'Source Sans Pro', serif;">The user #*name*# #*surname*#,<br>
				requested for a return on the following order:</span>
            </h4>
            <h3>#*n_ordine*#</h3>
			<div class="hr">&nbsp;</div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td>#*table_order*#</td>
                </tr>
            </table>
		</td>
	</tr>
    <tr>
        <td height="40">&nbsp;</td>
    </tr>
</table>

#*include body_footer.inc.php*#