@import "init";

#AuthReq{
  background: url(../../img/bg/black/70.png) repeat;
}
#Header {
  background-color: #FFFFFF;
}
#CookieLawBar{
  background: url(../../img/bg/black/85.png) repeat;
}
#Footer {
  clear: both;
}