$white: #FFFFFF;
$black: #000000;
$gray_extradark: #333333;
$gray_dark: #373737;
$gray: #464646;
$gray_light: #949494;
$gray_extralight: #d4d4d4;
$hr_color: #d7d6d6;
$red_grad_from: #e62934;
$red_grad_to: #9f1115;
$red: #c20013;
$red_dark: #73100e;
$product-bg: #f5f5f5;


$radius: 4px;


$size1: 10px;
.size1{ font-size: $size1; }
$size2: $size1 + 2;
.size2{ font-size: $size2; }
$size3: $size2 + 2;
.size3{ font-size: $size3; }
$size4: $size3 + 2;
.size4{ font-size: $size4; }
$size5: $size4 + 2;
.size5{ font-size: $size5; }
$sizeStd: 14px;

$margin: 10px;

$footer_height: 234px;
$transition: .35s ease-in all;
$transition2: .25s linear all;

$sm: 768px; /* Small devices */
$md: 992px; /* Medium devices */
$lg: 1200px; /* Large devices */

/* MIXINS */
@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}
@mixin transition( $v: .25s linear all ) {
    -webkit-transition: $v;
       -moz-transition: $v;
         -o-transition: $v;
        -ms-transition: $v;
            transition: $v;
}
@mixin multi-transition( $v... ) {
  -webkit-transition: $v;
  -moz-transition: $v;
  -o-transition: $v;
  -ms-transition: $v;
  transition: $v;
}
@mixin box-shadow( $v ) {
    -webkit-box-shadow: $v;
       -moz-box-shadow: $v;
         -o-box-shadow: $v;
        -ms-box-shadow: $v;
            box-shadow: $v;
}
@mixin text-shadow( $v ) {
    -webkit-text-shadow: $v;
       -moz-text-shadow: $v;
         -o-text-shadow: $v;
        -ms-text-shadow: $v;
            text-shadow: $v;
}
@mixin transform( $v ) {
    -webkit-transform: $v;
       -moz-transform: $v;
         -o-transform: $v;
        -ms-transform: $v;
            transform: $v;
}
@mixin placeholder{
	&::-webkit-input-placeholder{ @content }
	&::-moz-placeholder{ @content }
	&:-moz-placeholder{	@content }
	&:-ms-input-placeholder{ @content }
}
@mixin animation($name,$duration,$iteration-count,$timing-function, $transform_from, $transform_to){
	-webkit-animation: $name $duration $iteration-count $timing-function;
	-moz-animation: $name $duration $iteration-count $timing-function;
	-ms-animation: $name $duration $iteration-count $timing-function;
	animation: $name $duration $iteration-count $timing-function;
	
    @-ms-keyframes $name { 
        from { 
            -ms-transform: $transform_from; 
        } to { 
            -ms-transform: $transform_to; 
        }
    }
    @-moz-keyframes $name { 
        from { 
            -moz-transform: $transform_from; 
        } to { 
            -moz-transform: $transform_to; 
        }
    }
    @-webkit-keyframes $name { 
        from { 
            -webkit-transform: $transform_from; 
        } to { 
            -webkit-transform: $transform_to; 
        }
    }
    @keyframes $name { 
        from { 
            transform: $transform_from; 
        } to { 
            transform: $transform_to; 
        }
    }
}

@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* END MIXINS */