@import "init";

html,body{
  width: 100%;
  height: 100%;
}
body{
  overflow: visible; /* per bug con funzione scrollTop() */
  background: $white;
  font-family: 'Roboto', sans-serif;
}

.relative{
  position: relative;
}
.block{
  display: block;
}
a{
  &, &:active, &:link {
    text-decoration: none;
    color: $red;
  }
  @include transition( $transition2 );

  &:hover{
    text-decoration: none;
    color: $red_dark;
  }
}
a,input,img,button{
  outline: 0 none !important;
}
.table{
  > .tbody{
    > tr{
      >td, >th{
        &.va {
          vertical-align: middle;
        }
      }
    }
  }
}
.va{
  vertical-align: middle !important;
}
hr {
  border-color: $hr_color;
}
.col-no-padding-right{
  padding-right: 0;
}
.col-no-padding-left{
  padding-left: 0;
}
.static{
  position: static;
}
.modal{
  z-index: 10100;
}

/**************** LAYOUT GENERALE **************/
.Margin{
  display: block;
  height: 1em;
}
.titleSection{
  text-transform: uppercase;
  position: relative;
  text-align: center;

  > span{
    display: inline-block;
    background-color: $white;
    padding: 6px 20px;
    font-weight: 200;
    font-size: 20px;
    color: $gray;
    position: relative;
    z-index: 10;
  }

  &::after{
    content:" ";
    display: block;
    width: 100%;
    border-top: 1px solid $gray_extralight;
    position: absolute;
    z-index: 1;
    top: 55%;
  }
}
#Wrapper{
  padding-top: 120px;
  min-height: 100%;

  &:after{
    clear:both;
    height: $footer_height;
    content: " ";
    display: block;
  }
}

#barTop{
  position: relative;
  background-color: $gray_dark;
  nav {
    > ul{
      margin: 0;
      padding: 0;
      > li{
        padding: 0;
        margin: 0;
        display: inline-block;
        font-size: 12px;

        #btnBasket{
          background-color: $black;
          .fa{
            color: $white;
          }
          color: #4a4a4a;
        }

        > a{
          display: block;
        }

        > a, &.btnAccount{
          position: relative;
          padding: 8px 6px;
          color: $white;
          text-transform: uppercase;
          @include transition();
          &:hover{
            color: $gray_light;
            .submenu{
              display: block;
            }
          }

          &.gray{
            height: 100%;
            color: $gray_light;
            &:hover{
              background-color: $white;
              color: $gray_dark;
            }
          }
        }

        .submenu{
          position: absolute;
          min-width: 100%;
          padding: 0;
          margin: 0;
          list-style: none;
          width: 100%;
          top: 32px;
          right: 0;
          display: none;
          z-index: 100;
          background-color: $gray-dark;

          > li {
            display: block;
            padding: 6px 8px;
            margin: 0;
            border-bottom: 1px solid $gray;
            &:last-child{
              border-bottom: none;
            }
            a {
              color: $white;
              text-align: left;
              display: block;
              &:hover{
                color: $red;
              }
            }
          }
        }
      }
    }
  }
}
#AuthReq, #LoginBox{
  display: none;
}
#Logo{
  position: absolute;
  z-index: 20;
  top: 0px;
  width: 166px;
  height: 154px;
  box-shadow: 0 0 5px 1px rgba(0,0,0, 75/100);
  background: url(../img/logo.png) center center no-repeat $red;
  &.compact{
    height: 80px;
  }

  @media (max-width: $sm - 1){
    background-image: url(../img/logo-xs.png);
    box-shadow: none;
    width: 33px;
    &, &.compact{
      height: 33px;
    }
  }
}
#barMenu{
  background-color: $white;
  padding: 35px 0;
  .container {
    position: relative;
  }

  #mainMenu{
    > ul{
      margin: 0;

      > li{
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0 5px;
        
        > a{
          font-weight: 300;
          text-transform: uppercase;
          font-size: 18px;
          display: block;
          color: $gray;
          padding: 0 8px;
          text-decoration: none;
          border-bottom: 3px solid $white;
          &:hover{
            text-decoration: none;
          }
        }

        &._fired{
          border-color: $red;
        }

        &._has_submenu{
          &:hover{
            > a{
              border-color: $red;
            }
            .submenu{
              opacity: 1;
              z-index: 10;
              height: 180px;
              border: 1px solid #d4d4d4;
              border-top: none;
            }
          }
        }
      }
    }
  }

  .submenu{
    z-index: 10;
    opacity: 1;
    margin: 0 15px;
    overflow: hidden;
    height: 0px;
    background-color: $white;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 63px;

    @include multi-transition( opacity .35s ease-out , height .35s linear );

    > div {
      padding: 75px 8px 8px;
      a {
        display: block;
      }
    }
  }
}
#Submenu{
  background-color: $gray-extradark;
  height: 85px;
}
#Header{
  box-shadow: 0 5px 5px rgba(0,0,0,25/100);
  z-index: 10000;
  top: 0;
  width: 100%;
  position: fixed;
}
/**************** END LAYOUT GENERALE **************/

/*********** ELEMENTI GENERICI *****************/
.selmini{
  width: auto;
  display: inline-block;
}
.Btn {
  border: none;
  border-radius: 2px;
  @include linearGradient( $red_grad_from , $red_grad_to );
  background-color: $red;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3),inset 0px 1px 2px 0px #f34e58;
  color: $white !important;
  text-transform: uppercase;
  @include transition();

  &:hover{
    background-image: none;
    color: $white;
  }
}
#statusAddBasket{
  .added {
    display: none;
  }
}
.BrandLabel, .PriceLabel{
  > div {
    padding: 8px 16px;
    font-size: 18px;
  }
}
.BrandLabel{
  padding-right: 0;

  > div{
    background-color: $red;
    color: $white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.PriceLabel{
  padding-left: 0;

  > div {
    background-color: $product-bg;
    color: $gray;
    text-align: center;
    position: relative;

    em {
      top: 16px;
      right: 40px;
      text-align: right;
      font-size: 13px;
      line-height: 12px;
      display: inline;
    }
  }
}
/*********** END ELEMENTI GENERICI *****************/


/*********** HOME ***********/
#homeSlider{
  overflow: hidden;

  &, .homeSlide{
    height: 400px;
  }

  > div{
    width: 100%;
  }
  .homeSlide{
    background-size: cover;
    background-position: center center;
  }

  @media (min-width: $sm) and (max-width: $md - 1){
    &, .homeSlide{
      height: 250px;
    }
  }
}
/*********** /HOME ***********/

/*********** PRODUCTS ***********/
#SearchResult{
  min-height: 260px;
  position: relative;

  .noresult{
    min-height: 300px;
    .noFound{
      color: $red;
      font-size: 2em;
    }
  }

  .catalog_pagination{
    select.form-control{
      display: inline-block;
      width: auto;
    }
  }
  .Loader{
    top: 0;
    left: 0;
    position: fixed;
    background: url(../img/loaders/1.gif) center center no-repeat rgba(255,255,255, 75/100);
    background: url(../img/loaders/1.gif) center center no-repeat rgba(255,255,255, 75/100);
    z-index: 1000;
    width: 100%;
    height: 100%;
  }
}
#Products_SearchCol{
  h6{
    text-transform: uppercase;
    border-bottom: 1px solid $gray_extralight;
    padding: 8px 0;
    display: block;
    font-weight: 400;
    font-size: 16px;
  }
}
.SearchList{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    > li{
      padding: 0;
      margin: 0;

      > a{
        text-transform: uppercase;
        display: block;
        position: relative;
        padding: 4px 6px;

        &.disabled{
          opacity: .5;
          cursor: default;
          pointer-events: none;
        }

        .deactive{
          position: absolute;
          right: 4px;
          top: 7px;
          display: none;
        }

        &:hover, &.fired{
          background-color: $red;
          color: $white;

          .deactive{
            display: block;
          }
        }
      }
    }
  }
}

.productZoom{
  border: 5px solid $product-bg;
  display:inline-block;
}

/*********** /PRODUCTS ***********/

/*********** PRODUCT DETTAGLIO***********/

.productItem{
  display: block;
  background-color: $product-bg;
  color: $gray;
  padding: 8px;
  margin-bottom: 12px;

  @include transition();

  .info{
    text-align: center;
    padding: 12px 0;

    .title{
      color: $red;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .descr{
      text-transform: none;
      color: $gray;
    }
  }

  .priceLine{
    color: $gray;
    font-weight: bold;
    font-size: 1.1em;
    button{
      float: right;
      margin-top: -5px;
    }
  }

  &:hover{
    @include transform(scale(1.08));
    box-shadow: 0 0 30px rgba(0,0,0, 10/100);
  }
}

.seleziona-colore{
  ul{
    margin: 0;
    padding: 0;
    display: block;
    > li{
      padding: 0;
      margin: 0 5px 0 0;
      display: inline-block;
      width: 80px;
      list-style: none;
      a{
        display: block;
        opacity: .5;
        border-bottom: 2px solid transparent;
        margin-bottom: 10px;
        &:hover, &.fired{
          opacity: 1;
          border-bottom: 2px solid $black;
        }
      }
      img{
        width: 100%;
      }
    }
  }
}

/*********** /PRODUCT DETTAGLIO***********/

/*********** FOOTER ***********/
#Footer{
  margin-top: -$footer_height;
  color: $white;
  font-size: 12px;

  a{
    color: $white;
    &:hover{
      color: $gray_light;
    }
  }

  .cont{
    background-color: $gray_dark;
    padding-top: 40px;
    font-weight: 200;

    hr{
      margin: 3px 0;
    }



    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      > li{
        font-size: 12px;
        display: block;
        padding: 2px 0;
        >a{
          display: block;
        }
      }
    }
  }

  .info{
    background-color: $gray_extradark;
    font-size:12px;
    font-weight: 200;
    padding: 20px 0;
  }
}
/*********** /FOOTER ***********/


/*********** PLUGINS ***********/
.cleanBx{
  .bx-viewport{
    padding: 0;
    margin: 0;
    left: 0;
    border: none;
    box-shadow: none;
  }
}
/*********** /PLUGINS ***********/

/*********** REGISTER/LOGIN ***********/
#AuthReq{
  position: fixed;
  background-color: rgba(0,0,0,0.70);
  width: 100%;
  height: 100%;
  z-index: 10050;
  top: 0;
  left: 0;
  display: none;

  &.required{
    display: block;
  }
}
#LoginBox{
  position: absolute;
  z-index: 10060;
  top: 10%;
  left: 50%;
  $width: 800px;
  width: $width;
  margin-left: -$width/2;
  display: none;
  &.required{
    display: block;
  }

  @media screen and (max-width: $md - 1){ /* small and xs */
    width: 90%;
    margin-left: -45%;
  }

  #LoginForm, #RegisterForm{
    box-shadow: 0 0 15px 0px rgba(0,0,0,.25);
    background-color: $white;
    margin-top: .5em;
    border: 15px solid $white;
  }

  #RegisterSteps{
    color: $red;
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
      padding: 0;
      margin: 0 0 10px 0;
      display: block;
    }
    .glyphicon{
      font-size: 1.2em;
      margin-left: 10px;
    }
  }

  .noDisplay{
    display: none;
  }

}
/*********** /REGISTER/LOGIN ***********/

/*********** CARRELLO ***********/

#BasketTotalBox{
  border-radius: $radius;
  background-color: $red;
  color: $white;
  padding: 6px 12px;

  .choicePayment{
    li{
      display: block;
      cursor: pointer;
      padding: 6px 0 0 4px;

      &.fired{
        background-color: #e7848e;
        border-radius: $radius;
      }
    }
    input[type='radio']{
      visibility: hidden;
    }
  }

  .Title{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid $gray_extralight;
    padding: 8px;
    margin-bottom: 16px;
  }

  .Btn{
    color: $red !important;
    box-shadow: none;
    background: none;
    background-color: $white;
    box-shadow: 0 0 5px rgba(0,0,0,50/100);

    &:hover, &:active, &:fired{
      background-color: $red_dark;
      color: $white !important;
    }
  }

  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      font-size: 1.1em;
      display: block;
      padding-bottom: 8px;
      margin-bottom: 16px;
      border-bottom: 1px solid $gray_extralight;

      &:last-child{
        border-bottom: none;
      }

      .info{
        float: right;
        text-align: right;
      }
    }
  }
}
/*********** /CARRELLO ***********/