<body bgcolor="#fff">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="90" align="center" bgcolor="#FFFFFF"><a href="http://www.accademiaweb.com/" target="_blank"><img src="#*img*#logo.jpg"/></a></td>
  </tr>
  <tr>
    <td bgcolor="#ECECEC" align="center">