#*include head.inc.html*#
#*include body_head.inc.html*#

<table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">
        <h1>Contatto da sito web</h1>
        <p>Il presente messaggio ti è stato inviato dal sito web</p>
        <table width="100%" cellpadding="8" cellspacing="0" border="1">
          #*fields*#
        </table>
      </td>
    </tr>
</table>
#*include body_footer.inc.html*#