#*include head.inc.html*#
#*include body_head.inc.html*#

<table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
	    <td height="40">&nbsp;</td>
    </tr>
	<tr>
		<td align="left">
        	<h1>GRAZIE DA ACCADEMIA</h1>
            <h4><span style="font-family: 'Source Sans Pro', serif;"><strong>Grazie per esserti iscritto alla nostra newsletter!</strong></span></h4>
			<br><br>
		</td>
	</tr>
    <tr>
	    <td height="40">&nbsp;</td>
    </tr>
</table>

#*include body_footer.html*#