#*include head.inc.html*#
#*include body_head.inc.html*#
<table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h1>RECUPERO PASSWORD ACCOUNT</h1>
        <h4>Gentile #*name*#,<br>questa email ti è stata inviata  perché hai richiesto una nuova password.<br>Di seguito puoi trovare la nuova password per accedere al tuo account:</h4>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20" height="20" bgcolor="#c20013">&nbsp;</td>
            <td bgcolor="#c20013">&nbsp;</td>
            <td width="20" height="20" bgcolor="#c20013">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#c20013">&nbsp;</td>
            <td bgcolor="#c20013">#*password*#</td>
            <td bgcolor="#c20013">&nbsp;</td>
          </tr>
          <tr>
            <td width="20" height="20" bgcolor="#c20013">&nbsp;</td>
            <td bgcolor="#c20013">&nbsp;</td>
            <td width="20" height="20" bgcolor="#c20013">&nbsp;</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
</table>
#*include body_footer.inc.html*#