#*include head.inc.html*#
#*include body_head.inc.html*#

<table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h2>COMPLETA LA REGISTRAZIONE SU ACCADEMIA</h2>
        <h4>PER COMPLETARE LA REGISTRAZIONE CONFERMA LA TUA E-MAIL CLICCANDO SUL PULSANTE SOTTOSTANTE.</h4>
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="20" height="20" bgcolor="#c20013">&nbsp;</td>
            <td bgcolor="#c20013">&nbsp;</td>
            <td width="20" height="20" bgcolor="#c20013">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#c20013">&nbsp;</td>
            <td bgcolor="#c20013" align="center"><a href="#*url_attivazione*#" target="_blank">CLICCA QUI PER CONFERMARE IL TUO INDIRIZZO E-MAIL<br>#*email*#</a></td>
            <td bgcolor="#c20013">&nbsp;</td>
          </tr>
          <tr>
            <td width="20" height="20" bgcolor="#c20013">&nbsp;</td>
            <td bgcolor="#c20013">&nbsp;</td>
            <td width="20" height="20" bgcolor="#c20013">&nbsp;</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
</table>
#*include body_footer.inc.html*#