
.icon-spin1:before { content: '\e800'; } /* '' */
.icon-spin2:before { content: '\e801'; } /* '' */
.icon-spin5:before { content: '\e802'; } /* '' */
.icon-spin6:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-pinterest:before { content: '\e807'; } /* '' */
.icon-vimeo:before { content: '\e808'; } /* '' */
.icon-flickr:before { content: '\e809'; } /* '' */
.icon-tumblr:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-skype:before { content: '\e80c'; } /* '' */
.icon-behance:before { content: '\e80d'; } /* '' */
.icon-instagram:before { content: '\e80e'; } /* '' */
.icon-rss:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-up-open:before { content: '\e812'; } /* '' */
.icon-down-open:before { content: '\e813'; } /* '' */
.icon-down:before { content: '\e814'; } /* '' */
.icon-left:before { content: '\e815'; } /* '' */
.icon-right:before { content: '\e816'; } /* '' */
.icon-up:before { content: '\e817'; } /* '' */