@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-m7mgkg');
	src:url('fonts/icomoon.eot?#iefix-m7mgkg') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-m7mgkg') format('truetype'),
		url('fonts/icomoon.woff?-m7mgkg') format('woff'),
		url('fonts/icomoon.svg?-m7mgkg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconcat-"], [class*=" iconcat-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconcat-accessori-donna:before {
	content: "\e600";
}
.iconcat-pantaloni-donna:before {
	content: "\e601";
}
.iconcat-scarpe-donna:before {
	content: "\e602";
}
.iconcat-abbigliamento-donna:before {
	content: "\e603";
}
.iconcat-borse-donne:before {
	content: "\e604";
}
.iconcat-capispalla-donna:before {
	content: "\e605";
}
