/* line 20, src/init.scss */
.size1 {
  font-size: 10px;
}

/* line 22, src/init.scss */
.size2 {
  font-size: 12px;
}

/* line 24, src/init.scss */
.size3 {
  font-size: 14px;
}

/* line 26, src/init.scss */
.size4 {
  font-size: 16px;
}

/* line 28, src/init.scss */
.size5 {
  font-size: 18px;
}

/* Small devices */
/* Medium devices */
/* Large devices */
/* MIXINS */
/* END MIXINS */
