/* line 20, src/init.scss */
.size1 {
  font-size: 10px;
}

/* line 22, src/init.scss */
.size2 {
  font-size: 12px;
}

/* line 24, src/init.scss */
.size3 {
  font-size: 14px;
}

/* line 26, src/init.scss */
.size4 {
  font-size: 16px;
}

/* line 28, src/init.scss */
.size5 {
  font-size: 18px;
}

/* Small devices */
/* Medium devices */
/* Large devices */
/* MIXINS */
/* END MIXINS */
/* line 3, src/layout.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 7, src/layout.scss */
body {
  overflow: visible;
  /* per bug con funzione scrollTop() */
  background: white;
  font-family: 'Roboto', sans-serif;
}

/* line 13, src/layout.scss */
.relative {
  position: relative;
}

/* line 16, src/layout.scss */
.block {
  display: block;
}

/* line 19, src/layout.scss */
a {
  -webkit-transition: 0.25s linear all;
  -moz-transition: 0.25s linear all;
  -o-transition: 0.25s linear all;
  -ms-transition: 0.25s linear all;
  transition: 0.25s linear all;
}
/* line 20, src/layout.scss */
a, a:active, a:link {
  text-decoration: none;
  color: #c20013;
}
/* line 26, src/layout.scss */
a:hover {
  text-decoration: none;
  color: #73100e;
}

/* line 31, src/layout.scss */
a, input, img, button {
  outline: 0 none !important;
}

/* line 38, src/layout.scss */
.table > .tbody > tr > td.va, .table > .tbody > tr > th.va {
  vertical-align: middle;
}

/* line 45, src/layout.scss */
.va {
  vertical-align: middle !important;
}

/* line 48, src/layout.scss */
hr {
  border-color: #d7d6d6;
}

/* line 51, src/layout.scss */
.col-no-padding-right {
  padding-right: 0;
}

/* line 54, src/layout.scss */
.col-no-padding-left {
  padding-left: 0;
}

/* line 57, src/layout.scss */
.static {
  position: static;
}

/* line 60, src/layout.scss */
.modal {
  z-index: 10100;
}

/**************** LAYOUT GENERALE **************/
/* line 65, src/layout.scss */
.Margin {
  display: block;
  height: 1em;
}

/* line 69, src/layout.scss */
.titleSection {
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
/* line 74, src/layout.scss */
.titleSection > span {
  display: inline-block;
  background-color: white;
  padding: 6px 20px;
  font-weight: 200;
  font-size: 20px;
  color: #464646;
  position: relative;
  z-index: 10;
}
/* line 85, src/layout.scss */
.titleSection::after {
  content: " ";
  display: block;
  width: 100%;
  border-top: 1px solid #d4d4d4;
  position: absolute;
  z-index: 1;
  top: 55%;
}

/* line 95, src/layout.scss */
#Wrapper {
  padding-top: 120px;
  min-height: 100%;
}
/* line 99, src/layout.scss */
#Wrapper:after {
  clear: both;
  height: 234px;
  content: " ";
  display: block;
}

/* line 107, src/layout.scss */
#barTop {
  position: relative;
  background-color: #373737;
}
/* line 111, src/layout.scss */
#barTop nav > ul {
  margin: 0;
  padding: 0;
}
/* line 114, src/layout.scss */
#barTop nav > ul > li {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 12px;
}
/* line 120, src/layout.scss */
#barTop nav > ul > li #btnBasket {
  background-color: black;
  color: #4a4a4a;
}
/* line 122, src/layout.scss */
#barTop nav > ul > li #btnBasket .fa {
  color: white;
}
/* line 128, src/layout.scss */
#barTop nav > ul > li > a {
  display: block;
}
/* line 132, src/layout.scss */
#barTop nav > ul > li > a, #barTop nav > ul > li.btnAccount {
  position: relative;
  padding: 8px 6px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.25s linear all;
  -moz-transition: 0.25s linear all;
  -o-transition: 0.25s linear all;
  -ms-transition: 0.25s linear all;
  transition: 0.25s linear all;
}
/* line 138, src/layout.scss */
#barTop nav > ul > li > a:hover, #barTop nav > ul > li.btnAccount:hover {
  color: #949494;
}
/* line 140, src/layout.scss */
#barTop nav > ul > li > a:hover .submenu, #barTop nav > ul > li.btnAccount:hover .submenu {
  display: block;
}
/* line 145, src/layout.scss */
#barTop nav > ul > li > a.gray, #barTop nav > ul > li.btnAccount.gray {
  height: 100%;
  color: #949494;
}
/* line 148, src/layout.scss */
#barTop nav > ul > li > a.gray:hover, #barTop nav > ul > li.btnAccount.gray:hover {
  background-color: white;
  color: #373737;
}
/* line 155, src/layout.scss */
#barTop nav > ul > li .submenu {
  position: absolute;
  min-width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  top: 32px;
  right: 0;
  display: none;
  z-index: 100;
  background-color: #373737;
}
/* line 168, src/layout.scss */
#barTop nav > ul > li .submenu > li {
  display: block;
  padding: 6px 8px;
  margin: 0;
  border-bottom: 1px solid #464646;
}
/* line 173, src/layout.scss */
#barTop nav > ul > li .submenu > li:last-child {
  border-bottom: none;
}
/* line 176, src/layout.scss */
#barTop nav > ul > li .submenu > li a {
  color: white;
  text-align: left;
  display: block;
}
/* line 180, src/layout.scss */
#barTop nav > ul > li .submenu > li a:hover {
  color: #c20013;
}

/* line 190, src/layout.scss */
#AuthReq, #LoginBox {
  display: none;
}

/* line 193, src/layout.scss */
#Logo {
  position: absolute;
  z-index: 20;
  top: 0px;
  width: 166px;
  height: 154px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  background: url(../img/logo.png) center center no-repeat #c20013;
}
/* line 201, src/layout.scss */
#Logo.compact {
  height: 80px;
}
@media (max-width: 767px) {
  /* line 193, src/layout.scss */
  #Logo {
    background-image: url(../img/logo-xs.png);
    box-shadow: none;
    width: 33px;
  }
  /* line 209, src/layout.scss */
  #Logo, #Logo.compact {
    height: 33px;
  }
}

/* line 214, src/layout.scss */
#barMenu {
  background-color: white;
  padding: 35px 0;
}
/* line 217, src/layout.scss */
#barMenu .container {
  position: relative;
}
/* line 222, src/layout.scss */
#barMenu #mainMenu > ul {
  margin: 0;
}
/* line 225, src/layout.scss */
#barMenu #mainMenu > ul > li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 5px;
}
/* line 231, src/layout.scss */
#barMenu #mainMenu > ul > li > a {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  color: #464646;
  padding: 0 8px;
  text-decoration: none;
  border-bottom: 3px solid white;
}
/* line 240, src/layout.scss */
#barMenu #mainMenu > ul > li > a:hover {
  text-decoration: none;
}
/* line 245, src/layout.scss */
#barMenu #mainMenu > ul > li._fired {
  border-color: #c20013;
}
/* line 251, src/layout.scss */
#barMenu #mainMenu > ul > li._has_submenu:hover > a {
  border-color: #c20013;
}
/* line 254, src/layout.scss */
#barMenu #mainMenu > ul > li._has_submenu:hover .submenu {
  opacity: 1;
  z-index: 10;
  height: 180px;
  border: 1px solid #d4d4d4;
  border-top: none;
}
/* line 267, src/layout.scss */
#barMenu .submenu {
  z-index: 10;
  opacity: 1;
  margin: 0 15px;
  overflow: hidden;
  height: 0px;
  background-color: white;
  padding: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 63px;
  -webkit-transition: opacity 0.35s ease-out, height 0.35s linear;
  -moz-transition: opacity 0.35s ease-out, height 0.35s linear;
  -o-transition: opacity 0.35s ease-out, height 0.35s linear;
  -ms-transition: opacity 0.35s ease-out, height 0.35s linear;
  transition: opacity 0.35s ease-out, height 0.35s linear;
}
/* line 282, src/layout.scss */
#barMenu .submenu > div {
  padding: 75px 8px 8px;
}
/* line 284, src/layout.scss */
#barMenu .submenu > div a {
  display: block;
}

/* line 290, src/layout.scss */
#Submenu {
  background-color: #333333;
  height: 85px;
}

/* line 294, src/layout.scss */
#Header {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  z-index: 10000;
  top: 0;
  width: 100%;
  position: fixed;
}

/**************** END LAYOUT GENERALE **************/
/*********** ELEMENTI GENERICI *****************/
/* line 304, src/layout.scss */
.selmini {
  width: auto;
  display: inline-block;
}

/* line 308, src/layout.scss */
.Btn {
  border: none;
  border-radius: 2px;
  background: #e62934;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e62934 0%, #9f1115 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e62934), color-stop(100%, #9f1115));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e62934 0%, #9f1115 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e62934 0%, #9f1115 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e62934 0%, #9f1115 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e62934 0%, #9f1115 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background-color: #c20013;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 2px 0px #f34e58;
  color: white !important;
  text-transform: uppercase;
  -webkit-transition: 0.25s linear all;
  -moz-transition: 0.25s linear all;
  -o-transition: 0.25s linear all;
  -ms-transition: 0.25s linear all;
  transition: 0.25s linear all;
}
/* line 318, src/layout.scss */
.Btn:hover {
  background-image: none;
  color: white;
}

/* line 324, src/layout.scss */
#statusAddBasket .added {
  display: none;
}

/* line 329, src/layout.scss */
.BrandLabel > div, .PriceLabel > div {
  padding: 8px 16px;
  font-size: 18px;
}

/* line 334, src/layout.scss */
.BrandLabel {
  padding-right: 0;
}
/* line 337, src/layout.scss */
.BrandLabel > div {
  background-color: #c20013;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 345, src/layout.scss */
.PriceLabel {
  padding-left: 0;
}
/* line 348, src/layout.scss */
.PriceLabel > div {
  background-color: whitesmoke;
  color: #464646;
  text-align: center;
  position: relative;
}
/* line 354, src/layout.scss */
.PriceLabel > div em {
  top: 16px;
  right: 40px;
  text-align: right;
  font-size: 13px;
  line-height: 12px;
  display: inline;
}

/*********** END ELEMENTI GENERICI *****************/
/*********** HOME ***********/
/* line 368, src/layout.scss */
#homeSlider {
  overflow: hidden;
}
/* line 371, src/layout.scss */
#homeSlider, #homeSlider .homeSlide {
  height: 400px;
}
/* line 375, src/layout.scss */
#homeSlider > div {
  width: 100%;
}
/* line 378, src/layout.scss */
#homeSlider .homeSlide {
  background-size: cover;
  background-position: center center;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 384, src/layout.scss */
  #homeSlider, #homeSlider .homeSlide {
    height: 250px;
  }
}

/*********** /HOME ***********/
/*********** PRODUCTS ***********/
/* line 392, src/layout.scss */
#SearchResult {
  min-height: 260px;
  position: relative;
}
/* line 396, src/layout.scss */
#SearchResult .noresult {
  min-height: 300px;
}
/* line 398, src/layout.scss */
#SearchResult .noresult .noFound {
  color: #c20013;
  font-size: 2em;
}
/* line 405, src/layout.scss */
#SearchResult .catalog_pagination select.form-control {
  display: inline-block;
  width: auto;
}
/* line 410, src/layout.scss */
#SearchResult .Loader {
  top: 0;
  left: 0;
  position: fixed;
  background: url(../img/loaders/1.gif) center center no-repeat rgba(255, 255, 255, 0.75);
  background: url(../img/loaders/1.gif) center center no-repeat rgba(255, 255, 255, 0.75);
  z-index: 1000;
  width: 100%;
  height: 100%;
}

/* line 422, src/layout.scss */
#Products_SearchCol h6 {
  text-transform: uppercase;
  border-bottom: 1px solid #d4d4d4;
  padding: 8px 0;
  display: block;
  font-weight: 400;
  font-size: 16px;
}

/* line 432, src/layout.scss */
.SearchList ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 436, src/layout.scss */
.SearchList ul > li {
  padding: 0;
  margin: 0;
}
/* line 440, src/layout.scss */
.SearchList ul > li > a {
  text-transform: uppercase;
  display: block;
  position: relative;
  padding: 4px 6px;
}
/* line 446, src/layout.scss */
.SearchList ul > li > a.disabled {
  opacity: .5;
  cursor: default;
  pointer-events: none;
}
/* line 452, src/layout.scss */
.SearchList ul > li > a .deactive {
  position: absolute;
  right: 4px;
  top: 7px;
  display: none;
}
/* line 459, src/layout.scss */
.SearchList ul > li > a:hover, .SearchList ul > li > a.fired {
  background-color: #c20013;
  color: white;
}
/* line 463, src/layout.scss */
.SearchList ul > li > a:hover .deactive, .SearchList ul > li > a.fired .deactive {
  display: block;
}

/* line 472, src/layout.scss */
.productZoom {
  border: 5px solid whitesmoke;
  display: inline-block;
}

/*********** /PRODUCTS ***********/
/*********** PRODUCT DETTAGLIO***********/
/* line 481, src/layout.scss */
.productItem {
  display: block;
  background-color: whitesmoke;
  color: #464646;
  padding: 8px;
  margin-bottom: 12px;
  -webkit-transition: 0.25s linear all;
  -moz-transition: 0.25s linear all;
  -o-transition: 0.25s linear all;
  -ms-transition: 0.25s linear all;
  transition: 0.25s linear all;
}
/* line 490, src/layout.scss */
.productItem .info {
  text-align: center;
  padding: 12px 0;
}
/* line 494, src/layout.scss */
.productItem .info .title {
  color: #c20013;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 501, src/layout.scss */
.productItem .info .descr {
  text-transform: none;
  color: #464646;
}
/* line 507, src/layout.scss */
.productItem .priceLine {
  color: #464646;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 511, src/layout.scss */
.productItem .priceLine button {
  float: right;
  margin-top: -5px;
}
/* line 517, src/layout.scss */
.productItem:hover {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* line 524, src/layout.scss */
.seleziona-colore ul {
  margin: 0;
  padding: 0;
  display: block;
}
/* line 528, src/layout.scss */
.seleziona-colore ul > li {
  padding: 0;
  margin: 0 5px 0 0;
  display: inline-block;
  width: 80px;
  list-style: none;
}
/* line 534, src/layout.scss */
.seleziona-colore ul > li a {
  display: block;
  opacity: .5;
  border-bottom: 2px solid transparent;
  margin-bottom: 10px;
}
/* line 539, src/layout.scss */
.seleziona-colore ul > li a:hover, .seleziona-colore ul > li a.fired {
  opacity: 1;
  border-bottom: 2px solid black;
}
/* line 544, src/layout.scss */
.seleziona-colore ul > li img {
  width: 100%;
}

/*********** /PRODUCT DETTAGLIO***********/
/*********** FOOTER ***********/
/* line 554, src/layout.scss */
#Footer {
  margin-top: -234px;
  color: white;
  font-size: 12px;
}
/* line 559, src/layout.scss */
#Footer a {
  color: white;
}
/* line 561, src/layout.scss */
#Footer a:hover {
  color: #949494;
}
/* line 566, src/layout.scss */
#Footer .cont {
  background-color: #373737;
  padding-top: 40px;
  font-weight: 200;
}
/* line 571, src/layout.scss */
#Footer .cont hr {
  margin: 3px 0;
}
/* line 577, src/layout.scss */
#Footer .cont ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 581, src/layout.scss */
#Footer .cont ul > li {
  font-size: 12px;
  display: block;
  padding: 2px 0;
}
/* line 585, src/layout.scss */
#Footer .cont ul > li > a {
  display: block;
}
/* line 592, src/layout.scss */
#Footer .info {
  background-color: #333333;
  font-size: 12px;
  font-weight: 200;
  padding: 20px 0;
}

/*********** /FOOTER ***********/
/*********** PLUGINS ***********/
/* line 604, src/layout.scss */
.cleanBx .bx-viewport {
  padding: 0;
  margin: 0;
  left: 0;
  border: none;
  box-shadow: none;
}

/*********** /PLUGINS ***********/
/*********** REGISTER/LOGIN ***********/
/* line 615, src/layout.scss */
#AuthReq {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10050;
  top: 0;
  left: 0;
  display: none;
}
/* line 625, src/layout.scss */
#AuthReq.required {
  display: block;
}

/* line 629, src/layout.scss */
#LoginBox {
  position: absolute;
  z-index: 10060;
  top: 10%;
  left: 50%;
  width: 800px;
  margin-left: -400px;
  display: none;
}
/* line 638, src/layout.scss */
#LoginBox.required {
  display: block;
}
@media screen and (max-width: 991px) {
  /* line 629, src/layout.scss */
  #LoginBox {
    /* small and xs */
    width: 90%;
    margin-left: -45%;
  }
}
/* line 647, src/layout.scss */
#LoginBox #LoginForm, #LoginBox #RegisterForm {
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin-top: .5em;
  border: 15px solid white;
}
/* line 654, src/layout.scss */
#LoginBox #RegisterSteps {
  color: #c20013;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 660, src/layout.scss */
#LoginBox #RegisterSteps > li {
  padding: 0;
  margin: 0 0 10px 0;
  display: block;
}
/* line 665, src/layout.scss */
#LoginBox #RegisterSteps .glyphicon {
  font-size: 1.2em;
  margin-left: 10px;
}
/* line 671, src/layout.scss */
#LoginBox .noDisplay {
  display: none;
}

/*********** /REGISTER/LOGIN ***********/
/*********** CARRELLO ***********/
/* line 680, src/layout.scss */
#BasketTotalBox {
  border-radius: 4px;
  background-color: #c20013;
  color: white;
  padding: 6px 12px;
}
/* line 687, src/layout.scss */
#BasketTotalBox .choicePayment li {
  display: block;
  cursor: pointer;
  padding: 6px 0 0 4px;
}
/* line 692, src/layout.scss */
#BasketTotalBox .choicePayment li.fired {
  background-color: #e7848e;
  border-radius: 4px;
}
/* line 697, src/layout.scss */
#BasketTotalBox .choicePayment input[type='radio'] {
  visibility: hidden;
}
/* line 702, src/layout.scss */
#BasketTotalBox .Title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #d4d4d4;
  padding: 8px;
  margin-bottom: 16px;
}
/* line 712, src/layout.scss */
#BasketTotalBox .Btn {
  color: #c20013 !important;
  box-shadow: none;
  background: none;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/* line 719, src/layout.scss */
#BasketTotalBox .Btn:hover, #BasketTotalBox .Btn:active, #BasketTotalBox .Btn:fired {
  background-color: #73100e;
  color: white !important;
}
/* line 725, src/layout.scss */
#BasketTotalBox ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 730, src/layout.scss */
#BasketTotalBox ul > li {
  font-size: 1.1em;
  display: block;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #d4d4d4;
}
/* line 737, src/layout.scss */
#BasketTotalBox ul > li:last-child {
  border-bottom: none;
}
/* line 741, src/layout.scss */
#BasketTotalBox ul > li .info {
  float: right;
  text-align: right;
}

/*********** /CARRELLO ***********/
